.btn-submit,
.btn-signup,
.btn-closeModal {
  background: #fe142f;
  display: block;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.75rem 5.25rem;
  color: #fff;
  cursor: pointer;
  border: 0;
  outline: 0;
  &:hover{
     background: #3876ac;
  }
}
.btn-signup {
  outline: none;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  margin: 0;
  margin-top: 3.75rem;
  z-index: 1;
}
.btn-closeModal {
  position: absolute;
  bottom: 5rem;
}
.hero-section > .btn-signup {
  display: none;
}
