.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
  &::before,&::after {
    position: absolute;
    left: 1rem;
    content: " ";
    height: 2rem;
    width: 0.25rem;
    background-color: #fff;
  }
  &::before{transform: rotate(45deg);}
  &::after{transform: rotate(-45deg);}

}

