.bground {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}
.content {
  margin: 7rem auto;
  width: 100%;
  max-width: 33.5rem;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #232323;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  // padding-top: 10px;
  padding: 1rem;
}
.modal-body {
  padding: 1.25rem 1.5rem;
  // margin: 1rem 0;
}

// .formData {
//   margin: 0 0 1rem 0;
// }

label {
  font-family: var(--font-default);
  font-size: 0.875rem;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}

input {
  padding: 0.5rem;
  border: 0.8px solid #ccc;
  outline: none;
  margin: 0;
  width: 100%;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  height: 3rem;
}

.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 30px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #279e7a;
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked + .checkbox-label .checkbox-icon::after,
.checkbox-input:checked + .checkbox2-label .checkbox-icon::after {
  opacity: 1;
}

.checkbox-input:checked + .checkbox2-label .checkbox-icon {
  background: #279e7a;
}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;
}
.btn-submit {
  margin: 1rem auto;
}
